*{
  padding: 0;
  margin: 0;
  line-height: 1;
}

body{
  max-width: 1366px;
  margin: 0 auto;

  header{
    .header_img{
      position: relative;
      font-size: 0;
      line-height: 0;

      &>img{
        max-width: 100%;
        min-width: 100%;
      }

      .header_data{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        .header_upper_block{
          padding: 50px 50px 0;

          .upper_inner_wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;

            .nav_basket{
              .nav_basket_inner_wrapper{
                display: flex;
                align-items: center;

                nav{

                  ul{
                    overflow: hidden;
                    list-style: none;

                    li{
                      float: left;

                      a{
                        font-weight: bold;
                        color: #ffffff;
                        font-family: Quicksand, sans-serif;
                        text-decoration: none;
                        margin-right: 50px;

                        &:hover{
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                }

                .basket{
                  &:hover{
                    cursor: pointer;
                  }
                }
              }
            }
          }

        }

        .header_slogan{
          h1{
            text-align: center;
            margin-bottom: 10px;
            color: #ffffff;
            font: bold 50px Quicksand, sans-serif;
          }

          p{
            padding: 0 20%;
            text-align: center;
            color: #ffffff;
            font: 25px Quicksand, sans-serif;
          }

        }

        .header_down_arrow{
          height: 100px;
          width: 100%;
          background: url("../images/header_down_arr.png") no-repeat center center;

          &:hover{
            background:
                    url("../images/header_down_arr.png") no-repeat center center,
                    rgba(0,0,0,0.5);
            transition: background-color 0.4s;
          }

        }

      }
    }
  }

  main{

    .catalog{

      .categories{
        background: #f5f6f7;
        padding: 50px;
        display: flex;
        justify-content: space-between;

        form{
          label{
            margin-right: 20px;
            font: bold 16px Quicksand, sans-serif;
            text-transform: uppercase;
            color: #333333;

          }
          input{
            margin-right: 5px;
          }
        }

        .see_all{
          a{
            text-decoration: none;
            padding: 10px 25px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 5px;
            font: bold 18px Quicksand, sans-serif;
            color: #ffffff;
            background: #aa9b77;
            text-transform: uppercase;
            
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }

      .catalog_inner_wrapper{
        background: #ffffff;
        padding: 50px;

        .men, .women{
          margin-bottom: 20px;
          display: flex;
          align-items: center;

          h3{
            font: bold 20px Quicksand, sans-serif;
            text-transform: uppercase;
            color: #424242;
          }

          p{
            border: 1px solid #cccccc;
            flex-grow: 1;
          }
        }

        .men{


          h3{
            margin-right: 50px;
          }
        }

        .men_slider{
          display: flex;
          justify-content: flex-end;

          .switcher{
            
            &>p{
              font: 16px Quicksand, sans-serif;
              color: #aa9b77;
              font-weight: bold;
              margin-bottom: 5px;
            }
            
            .arrows{
              display: flex;
              margin-bottom: 5px;
            }
          }
        }

        .men_products{
          display: flex;
          overflow: hidden;
          margin-bottom: 50px;

          .product_section{
            min-width: 100%;

            .men_product_section_inner_wrapper{
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              grid-column-gap: 60px;

              &>div{
                background: #f5f6f7;
                border: 6px solid rgba(0,0,0,0);
                padding: 20px;

                &:hover{
                  border: 6px solid #aa9b77;
                }
              }
            }
          }
        }

        .women h3{
          margin-left: 50px;
        }
      }
    }

    .about_us{
      padding: 50px 20%;
      background-color: #aa9b77;

      .about_us_info{
        border: 1px solid #918363;
        position: relative;
        padding: 50px 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
          font: bold 20px Quicksand, sans-serif;
          text-transform: uppercase;
          color: #837659;
          display: inline-block;
          padding: 0 10px;
          position: absolute;
          top: -13px;
          background: #aa9b77;

        }
        
        p{
          color: #424242;
          font: 16px Quicksand, sans-serif;
          text-align: center;
        }
      }
    }

    .twitter_link{
      padding: 25px 0;
      background: url("../images/twitter.png") 50px center no-repeat, #535253;

      p{

        a{
          color: #ffffff;
          font: bold 18px Quicksand, sans-serif;
          text-decoration: none;
          margin-left: 90px;
          letter-spacing: 2px;

          &:hover{
            text-decoration: underline;
          }
        }
      }

    }
  }

  footer{
    padding: 50px;
    background: #424242;
    display: flex;
    justify-content: space-between;

    .footer_info{
      width: 25%;

      h3{
        font:bold 20px Quicksand, sans-serif;
        color: #ffffff;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      p{
        font: 16px Quicksand, sans-serif;
        color: #ffffff;
      }
    }

    .footer_menu{
      align-self: center;

      ul{
        overflow: hidden;
        list-style: none;

        li{
          float: left;
          border-right: 1px solid #ffffff;
          padding: 5px 10px;
          border-bottom: 2px solid rgba(0,0,0,0);

          &:last-of-type {
            border-right: none;
          }

          &:hover{
            border-bottom: 2px solid #ffffff;
          }

          a{
            font: bold 16px Quicksand, sans-serif;
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: none;



          }
        }
      }

    }
  }
}